body {
  background-color: gray;
}

.container {
  display: flex;
  margin: auto;
  width: 70%;
  height: 100vh;
}

.side_bar {
  width: 300px;
  background-color: green;
}

.chat {
  width: calc(100% - 300px);
  background-color: aqua;
}